
.resublock {
    width: 160px;
    height: 160px; 
    background-color:#0d41589e; 
    border-radius: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size:18px;
    margin-left:70px;
    margin-top:60px;
  }