
.resublock {
    width: 180px; /* Adjust the width as needed */
    height: 180px; /* Adjust the height as needed */
    background-color: #0d41589e;
    border-radius: 20px; /* Apply border radius for consistency */
    margin: 20px; /* Add margin for spacing between blocks */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; /* Text color */
  }
  