
.resublock {
    width: 140px;
    height: 180px; 
    background-color:#1f5369fc; 
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    font-size:18px;
    margin-left:40px;
    margin-top:50px;
    position: relative;
}

.editbutton{
  background-color: transparent;
  border:none;
  text-decoration: underline;
  color: #fff;
  font-size: 13px;
  position: absolute;
  bottom: 12px; 
  transform: translateY(50%);
  cursor: pointer;
}

.resublock > img{
  width:140px;
  height:110px;
  border-radius: 10px; 
}