@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
form {
  padding: 10px;
  width: 1000px;
  display: flex;
  flex-direction: column;
}
input {
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ddd;
}

h3 {
  margin: 15px 0;
}

.heading {
  margin-left: 29px;
  font-family: "Poppins";
}
.desc {
  font-family: "Poppins";
  margin-left: 40px;
  margin-right: 10px;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #2f532b;
}
.mbutton {
  transform: translate(140%);
  margin-top: 20px;
  width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  outline: none;
  background-color: #2f532b;
  border: none;
  color: #f5f5f5;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 300px;
  border-radius: 7px;
}
.app {
  background-color: #faf4d9;
  border-color: #5d3891;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.app > p {
  margin-bottom: 30px;
}

.fields1 {
  width: 300px;
  margin-left: 29px;
  margin-top: 10px;
  border-radius: 8px;
}

.detbox {
  background-color: #fdfdfd;
  border-radius: 25px;
  display: flex;
  justify-content: left;
  box-shadow: 0px 0px 100px 2px rgba(0, 0, 0, 0.172);
}

.boxdet {
  background-color: #2f532b;
  width: 30px;
  height: 100vh;
  border-radius: 25px 0px 0px 25px;
}

.Mtitle {
  font-family: "Poppins";
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}

.nestedContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.companies {
  display: flex;
  flex-direction: column;
  width: 39%;
}

#photo {
  width: 50%;
}
#addBtn {
  background-color: green;
  margin-right: 5px;
}
#deleteBtn {
  background-color: red;
}
.container {
  min-height: 100vh;
  padding: 30px;
}
.header {
  width: 80%;
  margin: 0 auto;
  min-height: 10vh;
  background-color: #e8e2e2;
  padding: 30px;
  border-radius: 3px 3px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resumeTitle {
  opacity: 0.6;
}
.headerTitle {
  margin-bottom: 15px;
}
.resumeImage {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.resumeBody {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  min-height: 80vh;
  border: 1px solid #e0e0ea;
}
.resumeBodyTitle {
  margin-bottom: 5px;
}
.resumeBodyContent {
  text-align: justify;
  margin-bottom: 30px;
}
