@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");


body {
    background-color: #033951;
    font-family: 'Space Grotesk', sans-serif;
}

.form_container {
    display: flex;
    margin: auto;
    margin-top: 70px;
    width: 1200px;
    height: 550px;
    background-color: #FCFDED;
    box-shadow: 3px 4px 36px -6px rgba(0,0,0,0.4);
    border-radius: 30px;
}

.left {
    flex: 1.5;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.img {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 30px 0px 0px 30px;
    height:550px;
}

.right {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.from_heading {
    font-size: 35px;
    font-weight: 600;
    color: #030303;
    margin-bottom: 80px;
}


.text {
    font-size: 20px;
    color: #000000;
    margin: 5px 0;
    margin-bottom:30px;
    padding: 0;
}


.google_btn {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #FCFDED;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 40px 0;
    color: #000000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.google_btn > img{
    width: 25px;
    height: 25px;
    object-fit: cover;
    margin-right: 20px;
}
.google_btn > span {
    margin-left: 20px; 
}
.text1 {
    font-weight: 20px;
    font-size: 23px;
    color: #000000;
    margin: 5px;
    margin-bottom:50px;
    padding: 0px;
}
.text2 {
    font-size: 18px;
    font-weight: 20px;
    color: #000000;
    margin: 5px ;
    margin-bottom:20px;
    padding: 0px;
}