.container {
  overflow: auto;
  background: linear-gradient(
    45deg,
    rgb(148, 197, 204) 3%,
    rgb(3, 57, 81) 38%,
    rgb(180, 210, 231) 68%
  );
  animation: gradient 20s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  border-color: #5d3891;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.app > p {
  margin-bottom: 30px;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

.resume {
  margin-top: 100px;
  width: 800px;
  height: 1134.29px;
  background-color: white;
}

.header {
  margin-top: 30px;
  height: 100px;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(148, 197, 204);
}

.canName {
  font-family: "Poppins";
  color: rgb(11, 66, 90);
  font-size: 35px;
  font-weight: 500;
  margin-top: 5px;
}

.address {
  margin-top: -2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
}

.addText {
  text-align: center;
  font-family: "Montserrat";
  font-size: small;
}

.dot {
  height: 4px;
  width: 4px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.resBody {
  margin-top: 10px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.resTitle {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
  color: rgb(11, 66, 90);
}

.resTextGen {
  margin-top: 5px;
  font-family: "Montserrat";
  font-size: 14px;
}

.detCol {
  display: flex;
  margin-top: 30px;
}

.colLeft {
  width: 215px;
  height: 830px;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: rgb(148, 197, 204);
}

.education {
  width: 205px;
}

.edTitle {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 2px;
  color: black;
}

.edBranch {
  font-family: "Montserrat";
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 7px;
  font-weight: 400;
  color: black;
}

.edMks {
  font-family: "Montserrat";
  font-size: 14px;
  margin-top: 0px;
  font-weight: 400;
  color: black;
}

.marks {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
  color: rgb(11, 66, 90);
}

.skills {
  width: 205px;
}

.skTitle {
  font-family: "Montserrat";
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 2px;
  font-weight: 400;
  color: black;
}

.sk {
  font-family: "Poppins";
  color: rgb(11, 66, 90);
  font-size: 16px;
  font-weight: 500;
}

.colRight {
  width: 350px;
  height: 830px;
}

.rightColEle {
  margin-left: 20px;
}

.rightFields {
  width: 400px;
  margin-bottom: 16px;
}
.rightTitle {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
  color: rgb(11, 66, 90);
}

.projTitle {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 550;
  margin-top: 5px;
  margin-bottom: 0px;
  color: black;
}

.projDesc {
  margin-left: 12px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
}

.intDur {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 15px;
  color: rgb(11, 66, 90);
  margin-top: 0px;
  margin-bottom: -1px;
  margin-left: 12px;
}
